# Datasets and Large Files (Do not push to GitHub!)
law/
archive/
data_and_json/extracted_json/
Supreme_Court_Vault/
chroma_db/
laww_dataset.jsonl
*.pdf
*.db
*.sqlite3

# Python Cache & Environments
__pycache__/
token.pickle
credentials.json
drive_id_map.json
*.py[cod]
*$py.class
venv/
env/
.env

# Node/Frontend
webpage/node_modules/
webpage/dist/

# OS and Editor
.DS_Store
.vscode/
.idea/
.claude/
.gemini/
